/*

    Solucoes

*/
.container--tab-menu-solucoes{
    background-color: #e6e6e6;
}
.container--tab-menu-solucoes .listItem :global(.vtex-button){
    background-color: transparent;
    color: #333333;
    border: 0;
    border-radius: 0;    
}

.container--tab-menu-solucoes .listItemActive :global(.vtex-button){    
    color: #007dbc;  
    border-bottom: 1px solid #007dbc;  
} 

.contentContainer--tab-content-solucoes{
    width: 100%;    
}